.tax-card {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: #c3b9b9;
    transition: background-color 0.1s ease; /* Smooth hover effect */
}

.tax-card:hover {
    background-color: #d3afaf;
    cursor: pointer;
}